
body{background-color: white;}

.container_margin{
    margin-top:40px;
    background-color: white;    
    
}

.image_container{
    position:relative;
}

.bottom_left_div {
    padding : 10px;
    background-color:white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 18px;
    width: 80%;
    height: 10%;
  
}


@media only screen and (max-width: 576px) {
    .bottom_left_div {
        height: 40px;
        width: 100%;
    }
}

.imgTitle{
    color: black;
    font-style: bold;
    font-weight: bolder;
}

