/* #ui-ux{
            position: absolute;
            top:450px;
            background-color: white;
            height:80px;
            width:190px;
            z-index: 10;
} */
/* #Branding{
            position:absolute;
            top:450px;
            left:15px;
            height:80px;
            width: 190px;
            background-color: white;
            z-index: 10;
}
#Natural{
            position:absolute;
            top: 450px;
            left:15px;
            height: 80px;
            width: 190px;
            background-color: white;
            z-index: 10;
} */

.container_margin{
    margin-top:40px;
    margin-left: 60px;
}

.image_container{
    position:relative;
}

.bottom_left_div {
    padding : 10px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 18px;
}
