@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#navbar-nav > li > a:focus{
    color: black;
    font-weight:bold;
    text-decoration: underline;
}
.navbar{
    margin-top:20px;
}